{% extends 'base.html' %}
{% load bootstrap3 %}

{% block content %}
{% load my_extras %}
  <div class="container ">
    {% if allsearches %}
      <h3>Your all recent searches</h3>
      <div class="list-group">
        {% for sear in allsearches %}
          <a class="list-group-item" href="{% url 'companies:companydetails' cin=sear.CIN uid=sear.id %}">{{ sear.CIN}}  :   {{ sear.create_date }}</a>
        {% endfor %}
      </div>



    {% else %}
      <h2>No recent searches</h2>
    {% endif %}
  </div>
{% endblock %}
